# Compiled files
*.o
*.exe
*.so

# Python/Jupyter cache
__pycache__/
.ipynb_checkpoints/

# System files
.DS_Store

# Personal notes and local folders
cartelle per chat gpt/
generatori/
mettere numero step e blocco chiaro per ciascunoi.txt
studiare random generator come funziona e magari aggiungerlo nella 1.txt
